{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-7 offset-md-2">
            <div class="card shadow my-2" >
                <div class="card-body">
                    <span class="h4">Profile Page</span>
                    <!-- <span><a class="btn btn-info btn-sm float-right" href="">Edit Profile</a></span> -->
                    <!-- Button trigger modal -->
                    <span>
                        <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal"
                            data-target="#exampleModal">
                            Edit Profile
                        </button>
                    </span>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="profile">
                        </div>
                        <div class="col-md-8">
                            <h4>Name : {{user.username}}</h4>
                            <h4>Email : {{user.email}}</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-4">
                    <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="image">
                </div>
                <div class="col-md-8">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ editForm|crispy }}
                        {{ profileForm|crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}