{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block body %}

    <div class="container">
        <div class="row mt-3 pt-2">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow my-2">
                    <div class="card-body">
                        <h2>Reset Password</h2>
                        <hr>
                        <div class="alert alert-info">
                            Your password has been changed 
                            Now login to your account using new password
                        </div>
                        <p>    
                            <a href="{% url 'login' %}">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}