{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block body %}

    <div class="container">
        <div class="row mt-3 pt-2">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow my-2">
                    <div class="card-body">
                        <h2>Set Password</h2>
                        <hr>
                        
                        <form method="POST">
                            {%csrf_token %}
                            {{form|crispy}}
                            <p class="pt-2"></p>
                            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}