{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block body %}

    <div class="container">
        <div class="row mt-3 pt-2">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow my-2">
                    <div class="card-body">
                        <h2>Reset Password</h2>
                        <hr>
                        <div class="alert alert-info">
                            A mail has been sent on the provided e-mail with instructions
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}